.form {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  input {
    flex: 1;
    padding: 1rem;

    line-height: 1.4rem;
    border: solid 1px var(--gray-700);
    border-radius: 8px;

    color: var(--gray-100);
    background-color: var(--gray-500);

    &::placeholder {
      color: var(--gray-300);
    }

    &:focus {
      border: solid 1px var(--gray-700);
    }
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 1rem;

    font-weight: bold;
    font-size: 0.875rem;
    cursor: pointer;

    border: none;
    border-radius: 8px;

    color: var(--gray-100);
    background-color: var(--blue-dark);

    transition: background 0.2s;

    &:hover {
      background-color: var(--blue);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--blue-dark);
      opacity: 0.8;
    }

    &:focus {
      border: solid 1px var(--gray-700);
    }
  }
}